.DS_Store
.DS_Store
stock_data/entropy.ipynb
__pychache__
.DS_Store
.DS_Store
CSRC INDUSTRIES/whole.csv
CSRC INDUSTRIES/whole1.csv
.DS_Store
.DS_Store
CSRC INDUSTRIES/2010 corr.csv
CSRC INDUSTRIES/2010 first-level corr.csv
CSRC INDUSTRIES/2011 corr.csv
CSRC INDUSTRIES/2011 first-level corr.csv
CSRC INDUSTRIES/2012 corr.csv
CSRC INDUSTRIES/2012 first-level corr.csv
CSRC INDUSTRIES/2013 corr.csv
CSRC INDUSTRIES/2013 first-level corr.csv
CSRC INDUSTRIES/2014 corr.csv
CSRC INDUSTRIES/2014 first-level corr.csv
CSRC INDUSTRIES/2015 corr.csv
CSRC INDUSTRIES/2015 first-level corr.csv
CSRC INDUSTRIES/2016 corr.csv
CSRC INDUSTRIES/2016 first-level corr.csv
CSRC INDUSTRIES/2017 corr.csv
CSRC INDUSTRIES/2017 first-level corr.csv
CSRC INDUSTRIES/2018 corr.csv
CSRC INDUSTRIES/2018 first-level corr.csv
CSRC INDUSTRIES/2019 corr.csv
CSRC INDUSTRIES/2019 first-level corr.csv
CSRC INDUSTRIES/2020 corr.csv
CSRC INDUSTRIES/2020 first-level corr.csv
CSRC INDUSTRIES/all_first_level_10_20.csv
CSRC INDUSTRIES/all_first_level.csv
.DS_Store
CSRC INDUSTRIES.zip
